<!-- <div class="left">

  <input type="number" placeholder="id" #id>
  <input type="text" placeholder="name" #name>
  <input type="text" placeholder="url" #url>

  <button (click)="addTutorial(id.value, name.value, url.value)">Add a Tutorial</button>
  <button (click)="updateTutorial(id.value, name.value, url.value)">Update Tutorial</button>
</div> -->

<div class="left">

    <input type="number" [ngModel]="(tutorial$ | async)?.id" placeholder="id" #id>
    <input type="text" [ngModel]="(tutorial$ | async)?.name" placeholder="name" #name>
    <input type="text" [ngModel]="(tutorial$ | async)?.url" placeholder="url" #url>
  
    <button (click)="addTutorial(id.value, name.value, url.value)">Add a Tutorial</button>
    <button (click)="updateTutorial(id.value, name.value, url.value)">Update Tutorial</button>
  </div>